body,
img,
li,
ul,
p,
div,
main,
section,
footer,
header,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #232426;
    color: white;
    scroll-behavior: smooth;
}

.topNavBar {
    z-index: 10;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNavBar>nav>ul {
    display: flex;
    list-style-type: none;
}

.topNavBar>nav>ul>li {
    margin: 0 20px;
    cursor: pointer;
}

.topNavBar>h1 {
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    margin: 5px 10px;
}

.divider {
    z-index: -1;
    position: absolute;
    width: 0%;
    height: 30px;
    right: 0;
    left: 0;
    border-radius: 100%;
    display: block;
    transition: all 1750ms cubic-bezier(1, 0, 0, 1);
}

.divider.dive {
    border-radius: 0px;
    background: linear-gradient(90deg, #40e0d0 0%, #ff8c00 50%, #ff0080 100%);
    width: 100%;
}

main {
    transform: scale(1.5);
    margin: 50px 100px;
    padding: 50px;
    border-radius: 3px;
    border: 3px white solid;
    transition: all ease-in-out 1500ms;
}

main.show {
    transform: scale(1);
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.16), 0 3px 15px rgba(221, 221, 221, 0.521);
}

.cssList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    transition: all ease-in-out 1000ms;
}


.cssList>div {
    margin: 10px;
    padding: 10px;
    width: 30%;
    height: 0;
    padding-bottom: 45%;
    border: #40e0d0 3px solid;  
    transition: all ease-in 0.3s;
}

.cssList>div:hover {
    transform: scale(1.01);
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.16), 0 3px 15px rgba(221, 221, 221, 0.521);

}